{% extends 'base.html'%}

{% block content%}
{% if movie.number_in_stock == 0 %}
<div class="alert alert-danger" role="alert">
  There are no more {{ movie.title}} remains
</div>
{% elif movie.number_in_stock <= 10 %}
<div class="alert alert-warning" role="alert">
  Only {{movie.number_in_stock}} {{ movie.title}} remains
</div>
{% endif %}

  <dl>
    <dt><h2>Title:</h2></dt>
    <dd>{{ movie.title }}</dd>
    <dt><h2>Genre:</h2></dt>
    <dd>{{ movie.genre}}</dd>
    <dt><h2>Year:</h2></dt>
    <dd>{{movie.release_year}}</dd>
    <dt><h2>Stock:</h2></dt>
    <dd>{{ movie.number_in_stock}}</dd>
 
  </dl>
  <a class='btn btn-primary' href="{% url 'movies:index' %}">Back</a>

{% endblock %}